<header class="header_section">
<!--  <div class="container py-5; jame">
    <div class="row">
      <div class="col-md-4">
        <img src="../../../assets/img/Screenshot 2023-04-19 145914.png" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col-md-4" >
        <a class="logo" href="">
          <img src="../../../assets/img/đ.png" class="img-fluid" alt="Responsive image">
        </a>
      </div>
      <div class="col-md-4" >
        <img src="../../../assets/img/Screenshot 2023-04-19 143101.png" class="img-fluid" alt="Responsive image">
      </div>
    </div>
  </div>-->
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container ">
      <a class="navbar-brand" href="index.html">
            <span>
              Fashion Shop
            </span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
          <ul class="navbar-nav  ">
            <li class="nav-item active">
              <a class="nav-link" href="">Trang Chủ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/news/listNews">Tin Tức </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="service.html"> Giới thiệu </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
