<style>
  * style {
    margin: 0;
    padding: 0;
  }

  .an {
    display: block;
    display: -webkit-box;
    /*height: 16px*1.3*3;*/
    font-size: 16px;
    line-height: 1.3;
    -webkit-line-clamp: 3; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
  }

  @media (min-width: 1024px) {
    img {
      height: 10rem;
    }
  }

  @media (min-width: 768px) {
    img {
      height: 10rem;
    }
  }

  @media (min-width: 600px) {
    img {
      height: 10rem;
    }
  }

  @media (min-width: 375px) {
    img {
      height: 10rem;
    }
  }
</style>

<div>
  <div style="background-image: url('https://cdn.pixabay.com/photo/2015/10/09/21/12/stylish-979952_1280.jpg')">
    <div class="container ">

      <div class="row">
        <div class="col-md-12 d-flex mt-5" style="border-bottom: #efbe29 5px solid">
          <div class=" col-12">
            <h1>TIN TỨC NỔI BẬT</h1>
          </div>
        </div>
        <nav class="navbar ">
          <div class=" container-fluid">
            <div class="navbar-brand">
              <button [routerLink]="['/news/createNews']" type="button" class="btn btn-outline-primary">+ Thêm mới
              </button>
            </div>

            <div class="navbar-brand d-flex">
              <input #tittleSearch class="form-control me-2" type="search" placeholder="Tìm kiếm tin tức"
                     aria-label="Search">
              <button (click)="getAllNews(tittleSearch.value)" class="btn btn-outline-success" type="submit">Tìm kiếm
              </button>
            </div>
          </div>
        </nav>
      </div>
      <!--<div class="container">-->
      <!--      <div class="row" style="padding-left: 70px;cursor: pointer">-->
      <!--        <div *ngFor="let news of listNews" class="card col-12 col-sm-6 col-md-4 col-lg-3" [routerLink]="['/news/detailNews',news.id]"-->
      <!--             style="width: 20rem;height: 30rem;border-radius: 0%;border-bottom: 5px #efbe29 solid;">-->
      <!--          <div style="height: 60%; position: relative">-->
      <!--            <img style="width: 100%;-->
      <!--              height: 100%;-->
      <!--              object-fit: cover;-->
      <!--              object-position: center;margin-top: 10px;border-radius: 0%;"-->
      <!--                 src="{{news.img}}"-->
      <!--                 class="card-img-top"-->
      <!--                 alt="...">-->
      <!--          </div>-->

      <!--          <div  class="card-body" style="max-height: 40%;position: relative">-->
      <!--            <h5 class="card-title an">{{news.title}}</h5>-->
      <!--            <p style="margin-bottom: 0" class="card-text an" [innerHTML]="news.content"></p>-->
      <!--            <p  class="card-text"><small style="float: right" class="text-muted">23-12-2023</small></p>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--</div>-->


      <div class="container">
        <div class="row">
          <div style="cursor: pointer" *ngFor="let news of listNews" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card" [routerLink]="['/news/detailNews',news.id]">
              <img class="card-img-top" src="{{news.img}}" alt="...">
              <div class="card-body">
                <h5 class="card-title an">{{news.title}}</h5>
                <p class="card-text an" [innerHTML]="news.content"></p>
                <p class="card-text"><small style="float: right" class="text-muted">{{news.dateTime}}</small></p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!--        <nav aria-label="..." class="d-flex justify-content-center text-center">-->
      <!--          <ul class="pagination">-->
      <!--            <li class="page-item">-->
      <!--              <button class="page-link" (click)="truoc()">Trước</button>-->
      <!--            </li>-->
      <!--            <li class="page-item"><a class="page-link">1</a></li>-->
      <!--            <li class="page-item"><a class="page-link">2</a></li>-->
      <!--            <li class="page-item"><a class="page-link">3</a></li>-->
      <!--            <li class="page-item">-->
      <!--              <button class="page-link" (click)="sau()">Sau</button>-->
      <!--            </li>-->
      <!--          </ul>-->
      <!--        </nav>-->
      <div style="margin-top: 12px">
        <div *ngIf="teamPage" class="d-flex justify-content-center" id="last-row">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item" [ngClass]="teamPage.first ? 'disabled': ''">
                <a role="button" class="page-link" (click)="changePage(0)">Trang đầu</a>
              </li>
              <li class="page-item" [ngClass]="teamPage.first ? 'disabled': ''">
                <a role="button" class="page-link" (click)="changePage(teamPage.number - 1)"><</a>
              </li>
              <li class="page-item" *ngIf="teamPage.number - 3 > 0">
                <a role="button" class="page-link"
                   (click)="changePage(teamPage.number - 4)">{{teamPage.number - 3}}</a>
              </li>
              <li class="page-item" *ngIf="teamPage.number - 2 > 0">
                <a role="button" class="page-link"
                   (click)="changePage(teamPage.number - 3)">{{teamPage.number - 2}}</a>
              </li>
              <li class="page-item" *ngIf="teamPage.number - 1 > 0">
                <a role="button" class="page-link"
                   (click)="changePage(teamPage.number - 2)">{{teamPage.number - 1}}</a>
              </li>
              <li class="page-item" *ngIf="teamPage.number > 0">
                <a role="button" class="page-link"
                   (click)="changePage(teamPage.number - 1)">{{teamPage.number}}</a>
              </li>
              <li class="page-item active"><a class="page-link">{{teamPage.number + 1}}</a></li>
              <li class="page-item" *ngIf="teamPage.number + 2 <= teamPage.totalPages">
                <a role="button" class="page-link"
                   (click)="changePage(teamPage.number + 1)">{{teamPage.number + 2}}</a>
              </li>
              <li class="page-item" *ngIf="teamPage.number + 3 <= teamPage.totalPages">
                <a role="button" class="page-link"
                   (click)="changePage(teamPage.number + 2)">{{teamPage.number + 3}}</a>
              </li>
              <li class="page-item" *ngIf="teamPage.number + 4 <= teamPage.totalPages">
                <a role="button" class="page-link"
                   (click)="changePage(teamPage.number + 3)">{{teamPage.number + 4}}</a>
              </li>
              <li class="page-item" *ngIf="teamPage.number + 5 <= teamPage.totalPages">
                <a role="button" class="page-link"
                   (click)="changePage(teamPage.number + 4)">{{teamPage.number + 5}}</a>
              </li>
              <li class="page-item" [ngClass]="teamPage.last ? 'disabled': ''">
                <a role="button" class="page-link"
                   (click)="changePage(teamPage.number + 1)">></a>
              </li>
              <li class="page-item" [ngClass]="teamPage.last ? 'disabled': ''">
                <a role="button" class="page-link"
                   (click)="changePage(teamPage.totalPages - 1)">
                  Trang cuối
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>


  </div>
</div>
