<style>
  * style {
    margin: 0;
    padding: 0;
  }

  .an {
    display: block;
    display: -webkit-box;
    /*height: 16px*1.3*3;*/
    font-size: 16px;
    line-height: 1.3;
    -webkit-line-clamp: 3; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
  }

</style>

<div>
  <div  style="background-image: url('https://cdn.pixabay.com/photo/2015/10/09/21/12/stylish-979952_1280.jpg')">

    <div class="container ">
      <div class="row">
        <div class="col-md-12 d-flex mt-5" style="border-bottom: #efbe29 5px solid">
          <div class=" col-md-12">
            <h1>TIN TỨC NỔI BẬT</h1>
          </div>
        </div>
        <nav class="navbar">
          <div class=" container-fluid">
            <div class="navbar-brand">
              <button [routerLink]="['/news/createNews']" type="button" class="btn btn-outline-primary">+ Thêm mới</button>
            </div>

            <div class="navbar-brand d-flex" >
              <input #tittleSearch class="form-control me-2" type="search" placeholder="Tìm kiếm tin tức"
                     aria-label="Search">
              <button (click)="getAllNews(tittleSearch.value)" class="btn btn-outline-success" type="submit">Tìm kiếm</button>
            </div>
          </div>
        </nav>
      </div>
    </div>


  </div>

</div>
