<div class="carousel-inner">
  <div class="carousel-item active" >
    <img style="padding-bottom: 5rem" src="https://vn-live-01.slatic.net/p/d09340cb6a7a9663327d7a5f16839c6f.jpg" alt="#" class="d-block w-100" />
  </div>
</div>
<div class="three_box" style="background-color: #183661;background-image: linear-gradient(white 50%, #183661 0%);">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="gift_box">
          <i><img src="../../../assets/img/icon_mony.png" height="50" width="74"/></i>
          <span>Money Back</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="gift_box">
          <i><img src="../../../assets/img/icon_gift.png" height="50" width="74"/></i>
          <span>Special Gift</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="gift_box">
          <i><img src="../../../assets/img/icon_car.png" height="50" width="74"/></i>
          <span>Free Shipping</span>
        </div>
      </div>
    </div>
  </div>
</div>
<p style="background-color: #183661; width: auto; height: 40px;margin-bottom: 0px;">
  <div class="footer" style="background-color: #183661">
    <div class="container">
      <div class="row footer-top">
        <div class="col-xl-4 col-lg-4 col-md-12 col-12 col-foo-1">
<p style="color: white">“Đặt sự hài lòng của khách hàng là ưu tiên số 1 trong mọi suy nghĩ hành động của mình” là sứ
  mệnh, là triết lý, chiến lược.. luôn cùng FASHION SHOP tiến bước</p>
</div>
<div class="col-xl-2 col-lg-2 col-md-3 col-12 col-foo col-foo-2">
  <h4 class="title-menu" style="color: white">FASHION SHOP<i class="fa fa-caret-down" aria-hidden="true"></i></h4>
  <ul class="list-menu">
    <a href="#" style="color: gray; text-decoration: none">Tuyển dụng</a><br>
    <a href="#" style="color: gray; text-decoration: none">Giới thiệu</a><br>
    <a href="#" style="color: gray; text-decoration: none">Liên hệ</a><br>
    <a href="#" style="color: gray; text-decoration: none">Tuyển dụng</a><br>
    <a href="#" style="color: gray; text-decoration: none">Hệ thống cửa hàng</a><br>
    <a href="#" style="color: gray; text-decoration: none">Hàng mới về</a><br>
    <a href="#" style="color: gray; text-decoration: none">Ưu đãi hàng Outlet</a><br>
    <a href="#" style="color: gray; text-decoration: none">Tin tức</a><br>
  </ul>
</div>
<div class="col-xl-3 col-lg-3 col-md-3 col-12 col-foo col-foo-2">
  <h4 class="title-menu" style="color: white">HỖ TRỢ KHÁCH HÀNG <i class="fa fa-caret-down" ari a-hidden="true"></i>
  </h4>
  <ul class="list-menu">
    <a href="#" style="color: gray; text-decoration: none">Hướng dẫn chọn size</a><br>
    <a href="#" style="color: gray; text-decoration: none">Chính sách khách hàng thân thiết</a><br>
    <a href="#" style="color: gray; text-decoration: none">Chính sách đổi/trả</a><br>
    <a href="#" style="color: gray; text-decoration: none">Chính sách bảo mật</a><br>
    <a href="#" style="color: gray; text-decoration: none">Thanh toán, giao nhận</a><br>
    <a href="#" style="color: gray; text-decoration: none">Chính sách Đồng phục</a><br>
    <a href="#" style="color: gray; text-decoration: none">Chính sách bảo mật thông tin khách hàng</a>
  </ul>
</div>
<div class="col-xl-3 col-lg-3 col-md-6 col-12 col-foo-2 col-foo-contact">
  <h4 class="title-menu active" style="color: white">CÔNG TY CP THỜI TRANG FASHION SHOP<i class="fa fa-caret-down"
                                                                                          aria-hidden="true"></i></h4>
  <ul class="list-menu" style="display:block">
    <a style="color: gray">Công ty cổ phần Thời trang FASHION</a>
    <br>
    <a style="color: gray">Mã số thuế: 0801206940</a>
    <br>
    <a style="color: gray">Địa chỉ: 280 Trần Hưng Đạo - Tp Đà Nẵng</a>
    <br>
    <a target="_blank" href="https://www.google.com/maps/search/yody" style="color: gray; text-decoration: none"
       rel="nofollow">Tìm cửa hàng gần bạn nhất</a>
    <br>
    <a href="tel:02499986999" style="color: gray; text-decoration: none">Liên hệ đặt hàng: 024 999 86</a>

  </ul>
</div>
<div style="text-align: center;color: gray">
  © FASHION SHOP - Bản quyền thuộc về Công ty cổ phần thời trang FASHION SHOP
</div>
